<div class="body">
  <header class="header hero">
    <div class="barra">
      <div class="contenedor">
        <div class="logo">
          <img src="/assets/blogviajes/img/logo.png" alt="logo" />
        </div>
        <div class="navegacion">
          <ul>
            <li><a href="#"></a>Inicio</li>
            <li><a href="#"></a>Nosotros</li>
            <li><a href="#"></a>Blog</li>
            <li><a href="#"></a>Contacto</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- barra -->

    <div class="header-contenido">
      <div class="contenedor">
        <h1>Bienvenidos Blog de Viajes</h1>
      </div>
    </div>
  </header>

  <div class="entradas">
    <main class="contenido-principal">
      <h2 class="h2-title">Últimas Entradas</h2>
      <article class="entrada">
        <img src="/assets/blogviajes/img/01.jpg" alt="texto entrada" />
        <div class="contenido">
          <h3>Tips para viajar con poco presupuesto</h3>
          <p>Publicado el: <span>19 Julio, 2018</span></p>
          <p>Por: <span>Blog Viajes</span></p>
          <a href="#" class="boton"> Leer más</a>
        </div>
      </article>
      <article class="entrada">
        <img src="/assets/blogviajes/img/02.jpg" alt="texto entrada" />
        <div class="contenido">
          <h3>Todo lo necesario para tu viaje</h3>
          <p>Publicado el: <span>19 Julio, 2018</span></p>
          <p>Por: <span>Blog Viajes</span></p>
          <a href="#" class="boton"> Leer más</a>
        </div>
      </article>
      <article class="entrada">
        <img src="/assets/blogviajes/img/03.jpg" alt="texto entrada" />
        <div class="contenido">
          <h3>El equipo necesario para tomar las mejores fotografías</h3>
          <p>Publicado el: <span>19 Julio, 2018</span></p>
          <p>Por: <span>Blog Viajes</span></p>
          <a href="#" class="boton"> Leer más</a>
        </div>
      </article>
      <article class="entrada">
        <img src="/assets/blogviajes/img/04.jpg" alt="texto entrada" />
        <div class="contenido">
          <h3>Checklist para tu próximo viaje</h3>
          <p>Publicado el: <span>19 Julio, 2018</span></p>
          <p>Por: <span>Blog Viajes</span></p>
          <a href="#" class="boton"> Leer más</a>
        </div>
      </article>
      <article class="entrada">
        <img src="/assets/blogviajes/img/05.jpg" alt="texto entrada" />
        <div class="contenido">
          <h3>Los mejores lugares para visitar este otoño</h3>
          <p>Publicado el: <span>19 Julio, 2018</span></p>
          <p>Por: <span>Blog Viajes</span></p>
          <a href="#" class="boton"> Leer más</a>
        </div>
      </article>
      <article class="entrada">
        <img src="/assets/blogviajes/img/06.jpg" alt="texto entrada" />
        <div class="contenido">
          <h3>Los mejores lugares para visitar con montañas</h3>
          <p>Publicado el: <span>19 Julio, 2018</span></p>
          <p>Por: <span>Blog Viajes</span></p>
          <a href="#" class="boton"> Leer más</a>
        </div>
      </article>
    </main>

    <div class="categorias">
      <ul>
        <li>
          <a href="#"><i class="fas fa-map-pin"></i>Actividades</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-music"></i>Festivales</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-utensils"></i>Restaurantes</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-check"></i>Tips</a>
        </li>
      </ul>
    </div>
  </div>
  <!--.contenido-->

  <footer>
    <div class="footer-contenedor">
      <div class="nosotros caja">
        <h2>Sobre Nosotros</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
          doloribus magnam quidem placeat pariatur sit beatae mollitia! Non sunt
          nam praesentium at dolor sint odit, quam voluptatem, nihil ea nostrum.
          <br /><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eligendi
          explicabo reiciendis eos delectus ducimus similique nostrum sint sed
          fugiat expedita sunt distinctio quo reprehenderit odio architecto,
          commodi beatae aut.
        </p>
      </div>
      <div class="entradas caja">
        <h2>Ultimas Entradas</h2>
        <li>lorem impusn dsentrsp eded</li>
        <li>lorem impusn dsentrsp eded</li>
        <li>lorem impusn dsentrsp eded</li>
        <li>lorem impusn dsentrsp eded</li>
        <li>lorem impusn dsentrsp eded</li>
      </div>
      <div class="siguenos caja">
        <h2>Siguenos</h2>
        <nav class="sociales">
          <ul>
            <li>
              <a href="http://facebook.com"><span> Facebook</span></a>
            </li>
            <li>
              <a href="http://twitter.com"><span> Twitter</span></a>
            </li>
            <li>
              <a href="http://youtube.com"><span> YouTube</span></a>
            </li>
            <li>
              <a href="http://instagram.com"><span> Instagram</span></a>
            </li>
            <li>
              <a href="http://pinterest.com"><span> Pinterest</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <p class="copyright">Blog de viajes FlexBox - 2020</p>
  </footer>
</div>
