<div class="body">
  <div class="contenedor">
    <h1>Nuestro Blog</h1>

    <div class="blog">
      <div class="entrada">
        <img src="/assets/masonry/img/1.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/2.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/3.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/4.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/5.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/6.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/7.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/8.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/9.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/10.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
      <div class="entrada">
        <img src="/assets/masonry/img/11.jpg" />
        <div class="contenido">
          <h2>
            Curabitur pulvinar viverra tincidunt. Proin nec erat id libero
            dictum molestie eu ut mi.
          </h2>
          <p>
            Aliquam erat elit, posuere quis blandit vitae, porta sit amet sem.
            In sed turpis vitae nisi vulputate dignissim. Suspendisse et
            tincidunt odio. Nunc malesuada tortor nisi, non consectetur est
            vestibulum a. Aenean semper, arcu non convallis sodales, erat magna
            tincidunt sem, a accumsan dolor orci aliquam lacus. Donec non augue
            iaculis, accumsan metus pretium, tincidunt lectus. Fusce pretium
            malesuada consectetur.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
