<div class="body">
  <h2>Comentarios <a href="#">Regresar</a></h2>

  <div class="contenedor" id="comentarios">
    <div class="contenedor-comentarios">
      <img src="/assets/layaoutsflex/img/comentario.jpg" alt="comentario" />
      <div class="contenido-comentario">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem
          voluptates expedita nostrum. A, dicta molestiae! Eum voluptas cum
          iure, dolorem, odit corporis enim dolorum sed labore deleniti,
          perferendis aliquam!
        </p>

        <div class="contenedor-comentarios subnivel">
          <img src="/assets/layaoutsflex/img/comentario.jpg" alt="comentario" />
          <div class="contenido-comentario">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem
              voluptates expedita nostrum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-comentarios">
      <img src="/assets/layaoutsflex/img/comentario.jpg" alt="comentario" />
      <div class="contenido-comentario">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem
          voluptates expedita nostrum.
        </p>
      </div>
    </div>
  </div>
</div>
