// Colores
$primary: rgb(36, 83, 214);
$secondary: rgb(78, 184, 36);
$succes: rgb(45, 204, 40);
$danger: rgb(214, 36, 36);
$letras: #fff;

// Fondos
$fondo: #f3f3f3;

$fondo-card: #fff;

// Responsive
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1800px;
