<div class="body">
  <div class="container">
    <div class="header">
      <h1>Flex y Grid con Juan Pablo de la Torre - Udemy</h1>
    </div>

    <main class="entradas">
      <!-- Universidad, regreamos un poco la pagina principal de Udemy -->
      <div class="entrada">
        <img src="/assets/home/img/universidad.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>1.</span> Universidad</h3>
        </div>

        <div class="entrada-content">
          <p>
            Esta fue la primera con FlexBox. Se desarrollo con SCSS una replica
            basica de UDEMY
          </p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/universidad">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- LoginNetflix, recreamos el login de Netflix -->

      <div class="entrada">
        <img
          src="/assets/home/img/loginnetflix.png"
          alt="foto del proyecto LoginNetflix"
        />
        <div class="entrada-header">
          <h3><span>2.</span> LoginNetflix</h3>
        </div>

        <div class="entrada-content">
          <p>
            Segunda con FlexBox. Se recreo la ventana de Login de Netflix con
            Flexbox
          </p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/netflix">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- creando un blog de viajes con CSS y HTML -->
      <div class="entrada">
        <img src="/assets/home/img/blogviajes.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>3.</span> Blog de Viaje</h3>
        </div>

        <div class="entrada-content">
          <p>Creando un blog de viaje</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/blogviajes">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- Diseño tipo Holygrail simple y responsivo -->
      <div class="entrada">
        <img src="/assets/home/img/holygrail.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>4.</span> Holygrail</h3>
        </div>

        <div class="entrada-content">
          <p>Diseño tipo Holygrail simple y responsivo</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/holygrail">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- Ejemplos Layaots con FlexBox -->
      <div class="entrada">
        <img src="/assets/home/img/layaouts.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>5.</span> Layaouts Flex</h3>
        </div>

        <div class="entrada-content">
          <p>Ejemplo de Layaouts con FlexBox</p>
        </div>

        <div class="entrada-actions varios">
          <button class="boton" routerLink="/layaoutsflex">
            <span>Comentarios anidados </span>
          </button>
          <button class="boton" routerLink="/centradovertical">
            <span>Centrado Vertical </span>
          </button>
          <button class="boton" routerLink="/footerfijo">
            <span>Footer Fijo</span>
          </button>
          <button class="boton" routerLink="/masonry">
            <span>Cards Masonry</span>
          </button>
        </div>
      </div>

      <!-- Crear ventana administrativa FLEXBOX -->
      <div class="entrada">
        <img src="/assets/home/img/adminflex.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>6.</span> AdminFlex</h3>
        </div>

        <div class="entrada-content">
          <p>Crear un admin con Flexbox</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/adminflex">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- Crear sitio de recetas GRID -->
      <div class="entrada">
        <img src="/assets/home/img/recetas.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>7.</span> Recetas</h3>
        </div>

        <div class="entrada-content">
          <p>Comienzan las clases con GRID</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/recetas">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- Site bienes raices GRID -->
      <div class="entrada">
        <img src="/assets/home/img/bienes.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>8.</span> Bienes Raices</h3>
        </div>

        <div class="entrada-content">
          <p>Pagina de bienes raices con GRID</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/bienes">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- Site Freelancer -->
      <div class="entrada">
        <img src="/assets/home/img/freelancer.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>9.</span> FreeLancer</h3>
        </div>

        <div class="entrada-content">
          <p>Pagina ejemplo de un Freelancer</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/freelancer">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>

      <!-- Site Miviaje -->
      <div class="entrada">
        <img src="/assets/home/img/miviaje.png" alt="foto del proyecto" />
        <div class="entrada-header">
          <h3><span>10.</span> Mi Viaje</h3>
        </div>

        <div class="entrada-content">
          <p>Site parecido al de Air BNB</p>
        </div>

        <div class="entrada-actions">
          <button class="boton" routerLink="/miviaje">
            <span>Ver resultado</span>
          </button>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">Practicas de Joel M Boada</div>
    </footer>
  </div>
</div>
