<div class="body">
  <header class="header">
    <img src="/assets/holygrail/img/logo.jpg" alt="" />
  </header>

  <nav class="navegacion">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <div class="contenido">
    <main class="contenido-principal">
      <h2>Titulo de la Entrada</h2>
      <img src="/assets/holygrail/img/imagen.jpg" alt="" />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus ut
        incidunt nemo itaque, a quam nobis, sint, aperiam officiis vel suscipit
        quae veritatis aspernatur laboriosam voluptates omnis odio. Dolores
        expedita aperiam molestiae hic odit alias, similique quasi eius pariatur
        nesciunt! Sit perferendis voluptatibus doloremque tempore officiis vero
        ipsum cum, nam ipsam, recusandae facere odit quibusdam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum rerum
        quia quod? Eveniet aliquid accusantium necessitatibus, ea voluptas
        adipisci, molestias alias sequi rerum, nobis eos quo quae asperiores hic
        a deserunt tempore quam? Explicabo minus sapiente excepturi repellendus?
        Vero, sit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aut
        maxime corporis iure, rem quisquam natus quasi iusto, culpa eos
        reiciendis temporibus nulla ab sunt vel error, deleniti expedita ipsum
        incidunt velit voluptates aperiam magni sit! Est ipsam repellendus
        possimus tempora at, nam unde nostrum a omnis asperiores saepe
        praesentium odio aliquid voluptatibus voluptatum, inventore quidem!
      </p>

      <h2>Titulo de la Entrada 2</h2>
      <img src="/assets/holygrail/img/imagen.jpg" alt="" />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus ut
        incidunt nemo itaque, a quam nobis, sint, aperiam officiis vel suscipit
        quae veritatis aspernatur laboriosam voluptates omnis odio. Dolores
        expedita aperiam molestiae hic odit alias, similique quasi eius pariatur
        nesciunt! Sit perferendis voluptatibus doloremque tempore officiis vero
        ipsum cum, nam ipsam, recusandae facere odit quibusdam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum rerum
        quia quod? Eveniet aliquid accusantium necessitatibus, ea voluptas
        adipisci, molestias alias sequi rerum, nobis eos quo quae asperiores hic
        a deserunt tempore quam? Explicabo minus sapiente excepturi repellendus?
        Vero, sit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aut
        maxime corporis iure, rem quisquam natus quasi iusto, culpa eos
        reiciendis temporibus nulla ab sunt vel error, deleniti expedita ipsum
        incidunt velit voluptates aperiam magni sit! Est ipsam repellendus
        possimus tempora at, nam unde nostrum a omnis asperiores saepe
        praesentium odio aliquid voluptatibus voluptatum, inventore quidem!
      </p>
    </main>

    <aside class="sidebar">
      <h2>Ultimas entradas</h2>
      <ul>
        <li>
          <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing.</a>
        </li>
        <li>
          <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing.</a>
        </li>
        <li>
          <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing.</a>
        </li>
        <li>
          <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing.</a>
        </li>
        <li>
          <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing.</a>
        </li>
        <li>
          <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing.</a>
        </li>
      </ul>
    </aside>
  </div>

  <footer class="footer">
    <p>Blog de viajes con FlexBox - Copyright 2020</p>
  </footer>
</div>
