<div class="body pagina">
  <header class="encabezado">
    <h1>Nombre del sitio web</h1>
  </header>

  <main class="contenido-principal">
    <h2>Contenido Principal</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem
      similique odit quo explicabo obcaecati vel? Excepturi, vel id. Temporibus
      veritatis, in iure praesentium porro a illo iusto quidem voluptatibus.
      Ullam deserunt officiis, maxime quis recusandae cumque quaerat quidem
      earum exercitationem veniam commodi sint vitae magnam dolor explicabo!
      Cupiditate facere neque magnam ratione! Necessitatibus modi, placeat
      officiis veniam impedit incidunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
      obcaecati dolores perspiciatis. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptates autem similique odit quo explicabo obcaecati
      vel? Excepturi, vel id. Temporibus veritatis, in iure praesentium porro a
      illo iusto quidem voluptatibus. Ullam deserunt officiis, maxime quis
      recusandae cumque quaerat quidem earum exercitationem veniam commodi sint
      vitae magnam dolor explicabo! Cupiditate facere neque magnam ratione!
      Necessitatibus modi, placeat officiis veniam impedit incidunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem
      similique odit quo explicabo obcaecati vel? Excepturi, vel id. Temporibus
      veritatis, in iure praesentium porro a illo iusto quidem voluptatibus.
      Ullam deserunt officiis, maxime quis recusandae cumque quaerat quidem
      earum exercitationem veniam commodi sint vitae magnam dolor explicabo!
      Cupiditate facere neque magnam ratione! Necessitatibus modi, placeat
      officiis veniam impedit incidunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem
      similique odit quo explicabo obcaecati vel? Excepturi, vel id. Temporibus
      veritatis, in iure praesentium porro a illo iusto quidem voluptatibus.
      Ullam deserunt officiis, maxime quis recusandae cumque quaerat quidem
      earum exercitationem veniam commodi sint vitae magnam dolor explicabo!
      Cupiditate facere neque magnam ratione! Necessitatibus modi, placeat
      officiis veniam impedit incidunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
      obcaecati dolores perspiciatis. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptates autem similique odit quo explicabo obcaecati
      vel? Excepturi, vel id. Temporibus veritatis, in iure praesentium porro a
      illo iusto quidem voluptatibus. Ullam deserunt officiis, maxime quis
      recusandae cumque quaerat quidem earum exercitationem veniam commodi sint
      vitae magnam dolor explicabo! Cupiditate facere neque magnam ratione!
      Necessitatibus modi, placeat officiis veniam impedit incidunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem
      similique odit quo explicabo obcaecati vel? Excepturi, vel id. Temporibus
      veritatis, in iure praesentium porro a illo iusto quidem voluptatibus.
      Ullam deserunt officiis, maxime quis recusandae cumque quaerat quidem
      earum exercitationem veniam commodi sint vitae magnam dolor explicabo!
      Cupiditate facere neque magnam ratione! Necessitatibus modi, placeat
      officiis veniam impedit incidunt!
    </p>
  </main>

  <footer class="footer"><h2>Contenido del Footer</h2></footer>
</div>
